# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=mật_khẩu_mysql_của_bạn
DB_NAME=aquaguard

# JWT
ACCESS_TOKEN_SECRET=aquaguard_access_secret_key_2024
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_SECRET=aquaguard_refresh_secret_key_2024
REFRESH_TOKEN_EXPIRES=7d

RESPONDER_SECRET=RESCUE2026